[[source]]
name="pypi"
url="https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
white = "==0.1.2"

[packages]
fastapi = ">=0.60.1"
uvicorn = ">=0.20.0"
loguru = "==0.5.3"
requests = "==2.31.0"
beautifulsoup4 = "==4.12.3"
pillow = "==10.2.0"

[requires]
python_version="3.9"